
<style>canvas { width: 100%; height: 100% }</style>
<ul>
<% @bodies.each do |planet| %>
  <% if planet.current %>
    <li class='planet' data-name=<%= planet.name.gsub(/-/, '_').tr('(),','').to_s %> data-diameter=<%= planet.diameter %> data-color=<%= planet.color.to_s %> data-x=<%= planet.x %> data-y=<%= planet.y %> data-z=<%= planet.z %>></li>
  <% end %>
<% end %>
</ul>
<h4>What's Happening in Space?</h4>
<% @bodies.each do |body| %>
  <div id="<%=body.name.gsub(/-/, '_').tr('(),','')%>_info" class="modal">
  <p>This is <%= body.name.capitalize %>!</p>
  <% body.articles.order('date DESC').take(5).each do |article| %>
    <%= link_to(article.title, article.url) %><br>
  <% end %>
  <p></p>
  </div>
<% end %>