<!DOCTYPE html>
<html>
<head>
  <title>What's Happening in Space?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class='navbar'>
  <li class="navbar-item"><h3>What's Happening in Space</h3></li>
  <li class="navbar-planets"><h3>Planets</h3>
    <ul class="dropdown">
      <% Body.all.where(planet: 'planet').each do |planet| %>
        <li class="planet-dropdown" data-name=<%=planet.name%> data-nicename=<%=planet.nice_name%>><%=planet.name%></li>
      <% end %>
    </ul>
  </li>
  <li class="navbar-instructions"><h3>Instructions</h3></li>
  <li class="navbar-dedication"><h3>Dedication</h3></li>
</ul>
<%= yield %>

</body>
</html>
