<!DOCTYPE html>
<html>
<head>
  <title>What's Happening in Space?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='earth' data-x=<%=Body.find_by(name: 'earth').x%> data-y=<%=Body.find_by(name: 'earth').z%> data-z=<%=Body.find_by(name: 'earth').y%>></div>
<ul class='navbar'>
  <li class="navbar-item"><h3>What's Happening in Space</h3></li>
  <li class="navbar-planets"><h3>Planets</h3>
    <ul class="dropdown">
      <% Body.all.where(planet: 'planet').each do |planet| %>
        <li class="planet-dropdown" data-name=<%=planet.name%> data-nicename=<%=planet.nice_name%> data-planet=<%=planet.planet%>><%=planet.name%></li>
      <% end %>
    </ul>
  </li>
  <li class="navbar-missions"><h3>Current Missions</h3>
    <ul class="dropdown-missions">
      <% Body.all.where(planet: 'spacecraft', current: true).each do |satellite| %>
        <li class="planet-dropdown" data-name=<%=satellite.name%> data-nicename=<%=satellite.nice_name%> data-planet=<%=satellite.planet%>><%=satellite.nice_name.gsub(/_/, ' ')%></li>
      <% end %>
    </ul>
  </li>
  <li class="navbar-instructions"><h3>Instructions</h3></li>
  <li class="navbar-dedication"><h3>Dedication</h3></li>
</ul>
<%= yield %>

</body>
</html>
